@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
body {
  font-family: "Manrope", sans-serif;
}
body img {
  width: 100%;
  height: 100%;
}
body a {
  color: black;
  text-decoration: none;
}
body ul {
  list-style-type: none;
  padding-left: 0;
}

.primary-btn {
  padding: 20px 30px;
  border: 1px solid linear-gradient(to right, #ecc02c 0%, #e3741c 50%, #db4c14 100%);
  background: linear-gradient(to right, #ecc02c 0%, #e3741c 50%, #db4c14 100%);
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-sec {
  padding: 10px 0px;
  border-bottom: 1px solid rgba(219, 76, 20, 0.1411764706);
  z-index: 9999999;
  position: relative;
}
.header-sec .header-portion {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-sec .header-logo {
  width: 250px;
}
.header-sec .header-menus ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}
.header-sec .header-menus ul li {
  margin: 0px 30px;
}
.header-sec .header-menus ul li:last-child {
  margin-right: 0;
}
.header-sec .header-menus ul li a {
  font-size: 17px;
  font-weight: 700;
  transition: 0.5s all ease-in-out;
  background: #fff;
  -webkit-background-clip: text;
  position: relative;
  -webkit-text-fill-color: transparent;
}
.header-sec .header-menus ul li a::after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 0;
  width: 0%;
  height: 2px;
  background: linear-gradient(to right, #ecc02c 0%, #e3741c 50%, #db4c14 100%);
  transition: 0.5s all ease-in-out;
}
.header-sec .header-menus ul li a:hover {
  background: linear-gradient(to right, #ecc02c 0%, #e3741c 50%, #db4c14 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header-sec .header-menus ul li a:hover::after {
  width: 100%;
}

.banner-sec {
  margin-top: -120px;
  position: relative;
}
.banner-sec .banner-swiper .banner-slider {
  height: 100vh;
  position: relative;
}
.banner-sec .banner-swiper .banner-slider img {
  -o-object-fit: cover;
     object-fit: cover;
}
.banner-sec .banner-swiper .banner-slider::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.785);
  top: 0;
  left: 0;
}
.banner-sec .banner-swiper .banner-pagintaion .swiper-pagination-bullet-active {
  background: #db4c14 !important;
}
.banner-sec .banner-swiper .banner-pagintaion .swiper-pagination-bullet {
  background: #fff;
}
.banner-sec .banner-slider-content {
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translateX(-20%);
  color: #fff;
  z-index: 999999;
}
.banner-sec .banner-slider-content h1 {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.4;
}

.highlight {
  background: linear-gradient(to right, #ecc02c 0%, #e3741c 50%, #db4c14 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 70px;
}

.aboutussection {
  width: 100%;
  padding: 110px 0 81px;
  position: relative;
}
.aboutussection::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../images/bg_img_2.png) no-repeat top left;
  opacity: 0.1;
  z-index: -1;
}
.aboutussection .aboutus-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.aboutussection .aboutus-row .aboutus-col1 {
  width: 47%;
  float: left;
  display: inline-block;
}
.aboutussection .aboutus-row .aboutus-col1 h6 {
  font-size: 18px;
  font-weight: 600;
  background: linear-gradient(to right, #ecc02c 0%, #e3741c 50%, #db4c14 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 0 20px;
}
.aboutussection .aboutus-row .aboutus-col1 h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.56;
  margin: 0 0 22px;
  color: #000;
}
.aboutussection .aboutus-row .aboutus-col1 p {
  font-size: 16px;
  line-height: 1.88;
  color: #000000;
}
.aboutussection .aboutus-row .aboutus-col2 {
  width: 48%;
}
.aboutussection .aboutus-row .aboutus-col2 .about-img {
  width: 100%;
  position: relative;
}
.aboutussection .aboutus-row .aboutus-col2 .about-img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #ecc02c 0%, #e3741c 50%, #db4c14 100%);
  top: -10%;
  right: -10%;
  z-index: -1;
}
.aboutussection .aboutus-row .aboutus-col2 .about-img img {
  width: 100%;
  display: block;
}

.books-wrapp {
  width: 100%;
  padding: 80px 0;
  background: #e9e9e9;
  position: relative;
}
.books-wrapp h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.56;
  margin: 0 0 32px;
  color: #000;
  text-align: center;
}
.books-wrapp .books-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.books-wrapp .books-row .books-col1 {
  width: 22%;
  margin: 0 4% 0 0;
}
.books-wrapp .books-row .books-col1:last-child {
  margin-right: 0;
}
.books-wrapp .books-row .books-col1 .books-box {
  width: 100%;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  margin: 0 0 20px;
  transition: all 0.25s ease-in-out;
}
.books-wrapp .books-row .books-col1:hover .books-box {
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.12);
}
.books-wrapp .books-row .books-col1 p {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.67;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: center;
  transition: all 0.25s ease-in-out;
}
.books-wrapp .books-row .books-col1:hover p {
  color: #db4f14;
}
.books-wrapp .view-all-btn {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 42px;
  font-size: 18px;
  font-weight: 600;
  background: linear-gradient(to right, #ecc02c 0%, #e3741c 50%, #db4c14 100%);
  color: #fff;
  margin: 50px auto 0;
  border: 1px solid;
  border-radius: 0;
  transition: all 0.25s ease-in-out;
}
.books-wrapp .view-all-btn:hover {
  background: none;
  color: #e3741c;
  border-color: #e3741c;
}

.blog-wrapp {
  width: 100%;
  padding: 70px 0;
  position: relative;
}
.blog-wrapp::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../images/bg_gradient_5.png) no-repeat center/contain;
  opacity: 0.1;
  z-index: -1;
}
.blog-wrapp h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.56;
  margin: 0 0 32px;
  color: #000;
  text-align: center;
}
.blog-wrapp .blog-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.blog-wrapp .blog-row .blog-col1 {
  width: 32%;
  margin: 0 2% 0 0;
  background: url(../images/gradient.png) no-repeat center/cover;
  padding: 15px;
  transition: all 0.5s cubic-bezier(0.37, -0.22, 1, 1);
}
.blog-wrapp .blog-row .blog-col1:hover {
  background: url(../images/gradient-1.png) no-repeat center/cover;
}
.blog-wrapp .blog-row .blog-col1:hover .blog-col2 {
  box-shadow: 0px 20px 20px 20px rgba(0, 0, 0, 0.12);
}
.blog-wrapp .blog-row .blog-col1:nth-child(3n) {
  margin-right: 0;
}
.blog-wrapp .blog-row .blog-col1 .blog-col2 {
  width: 100%;
  padding: 20px;
  background: white;
  height: 100%;
  transition: all 0.5s cubic-bezier(0.37, -0.22, 1, 1);
}
.blog-wrapp .blog-row .blog-col1 .blog-col2 .blog-img {
  width: 100%;
  margin: 0 0 18px;
}
.blog-wrapp .blog-row .blog-col1 .blog-col2 .blog-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.blog-wrapp .blog-row .blog-col1 .blog-col2 .blog-content {
  width: 100%;
}
.blog-wrapp .blog-row .blog-col1 .blog-col2 .blog-content h3 {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin: 0 0 15px;
}
.blog-wrapp .blog-row .blog-col1 .blog-col2 .blog-content p {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.67;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  transition: all 0.25s ease-in-out;
  margin: 0 0 22px;
}
.blog-wrapp .blog-row .blog-col1 .blog-col2 .blog-content .read-more-btn {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 28px;
  font-size: 16px;
  font-weight: 600;
  background: linear-gradient(to right, #ecc02c 0%, #e3741c 50%, #db4c14 100%);
  color: #fff;
  border: 1px solid;
  border-radius: 0;
  transition: all 0.25s ease-in-out;
}
.blog-wrapp .blog-row .blog-col1 .blog-col2 .blog-content .read-more-btn:hover {
  background: none;
  color: #e3741c;
  border-color: #e3741c;
}
.blog-wrapp .view-all-btn {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 42px;
  font-size: 18px;
  font-weight: 600;
  background: linear-gradient(to right, #ecc02c 0%, #e3741c 50%, #db4c14 100%);
  color: #fff;
  margin: 50px auto 0;
  border: 1px solid;
  border-radius: 0;
  transition: all 0.25s ease-in-out;
}
.blog-wrapp .view-all-btn:hover {
  background: none;
  color: #e3741c;
  border-color: #e3741c;
}

.check-out-wrapp {
  width: 100%;
  padding: 115px 0;
  position: relative;
  text-align: center;
}
.check-out-wrapp::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #ecc02c 0%, #e3741c 50%, #db4c14 100%);
  opacity: 0.2;
  z-index: -1;
}
.check-out-wrapp .bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.check-out-wrapp .bg-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.check-out-wrapp h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.56;
  margin: 0 0 22px;
  color: #fff;
  text-align: center;
}
.check-out-wrapp h2 span {
  display: block;
}
.check-out-wrapp h2 strong {
  background: linear-gradient(to right, #ecc02c 0%, #e3741c 50%, #db4c14 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}
.check-out-wrapp .get-start-btn {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 42px;
  font-size: 18px;
  font-weight: 600;
  background: linear-gradient(to right, #ecc02c 0%, #e3741c 50%, #db4c14 100%);
  color: #fff;
  margin: 50px auto 0;
  border: 1px solid;
  border-radius: 0;
  transition: all 0.25s ease-in-out;
}
.check-out-wrapp .get-start-btn:hover {
  color: #e3741c;
  background: linear-gradient(to right, #ffffff 0%, #ffffff 50%, #ffffff 100%);
}

.video-play-button {
  display: block;
  width: 85px;
  height: 85px;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
  transition: all 0.25s ease-out 0s;
  cursor: pointer;
  margin: 0 auto 50px;
  position: relative;
}
.video-play-button span {
  width: 0;
  height: 0;
  border-left: 30px solid #dd5616;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  margin: 23px 31px;
  transition: all 0.25s ease-out 0s;
  display: block;
  position: relative;
  z-index: 3;
}
.video-play-button::after, .video-play-button::before {
  content: "";
  transition: all 0.25s ease-out 0s;
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  z-index: -1;
}
.video-play-button::before {
  width: 95px;
  height: 95px;
  background: rgba(232, 159, 37, 0.6);
  border-radius: 50%;
  display: block;
  transform: translateX(-50%) translateY(-50%);
  animation: pulse-border 1500ms ease-out infinite;
}
.video-play-button::after {
  width: 105px;
  height: 105px;
  background: rgba(222, 88, 23, 0.6);
  border-radius: 50%;
  display: block;
  transform: translateX(-50%) translateY(-50%);
  animation: pulse-border 1500ms ease-out infinite;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */