@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    font-family: "Manrope", sans-serif;

    img {
        width: 100%;
        height: 100%;
    }

    a {
        color: black;
        text-decoration: none;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
    }
}

.primary-btn {
    padding: 20px 30px;
    border: 1px solid linear-gradient(to right, #ecc02c 0%, #e3741c 50%, #db4c14 100%);
    background: linear-gradient(to right, #ecc02c 0%, #e3741c 50%, #db4c14 100%);
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}



.header-sec {
    padding: 10px 0px;
    border-bottom: 1px solid #db4c1424;
    z-index: 9999999;
    position: relative;

    .header-portion {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-logo {
        width: 250px;
    }

    .header-menus {
        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 0;

            li {
                margin: 0px 30px;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    font-size: 17px;
                    font-weight: 700;
                    transition: 0.5s all ease-in-out;
                    background: #fff;
                    -webkit-background-clip: text;
                    position: relative;
                    -webkit-text-fill-color: transparent;

                    &::after {
                        position: absolute;
                        content: "";
                        bottom: -10px;
                        left: 0;
                        width: 0%;
                        height: 2px;
                        background: linear-gradient(to right, #ecc02c 0%, #e3741c 50%, #db4c14 100%);
                        transition: 0.5s all ease-in-out;
                    }

                    &:hover {
                        background: linear-gradient(to right, #ecc02c 0%, #e3741c 50%, #db4c14 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;

                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.banner-sec {
    margin-top: -120px;
    position: relative;

    .banner-swiper {
        .banner-slider {
            height: 100vh;
            position: relative;

            img {
                object-fit: cover;
            }

            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.785);
                top: 0;
                left: 0;
            }
        }

        .banner-pagintaion {
            .swiper-pagination-bullet-active {
                background: #db4c14 !important;
            }

            .swiper-pagination-bullet {
                background: #fff;
            }
        }
    }

    .banner-slider-content {
        position: absolute;
        top: 40%;
        left: 25%;
        transform: translateX(-20%);
        color: #fff;
        z-index: 999999;

        h1 {
            font-size: 60px;
            font-weight: 600;
            line-height: 1.4;
        }
    }
}

.highlight {
    background: linear-gradient(to right, #ecc02c 0%, #e3741c 50%, #db4c14 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 70px;
}

.aboutussection {
    width: 100%;
    padding: 110px 0 81px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url(../images/bg_img_2.png) no-repeat top left;
        opacity: 0.1;
        z-index: -1;
    }

    .aboutus-row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .aboutus-col1 {
            width: 47%;
            float: left;
            display: inline-block;

            h6 {
                font-size: 18px;
                font-weight: 600;
                background: linear-gradient(to right, #ecc02c 0%, #e3741c 50%, #db4c14 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin: 0 0 20px;
            }

            h2 {
                font-size: 42px;
                font-weight: 700;
                line-height: 1.56;
                margin: 0 0 22px;
                color: #000;
            }

            p {
                font-size: 16px;
                line-height: 1.88;
                color: #000000;
            }

        }

        .aboutus-col2 {
            width: 48%;

            .about-img {
                width: 100%;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(to right, #ecc02c 0%, #e3741c 50%, #db4c14 100%);
                    top: -10%;
                    right: -10%;
                    z-index: -1;
                }

                img {
                    width: 100%;
                    display: block;
                }
            }

        }
    }
}

.books-wrapp {
    width: 100%;
    padding: 80px 0;
    background: #e9e9e9;
    position: relative;

    h2 {
        font-size: 42px;
        font-weight: 700;
        line-height: 1.56;
        margin: 0 0 32px;
        color: #000;
        text-align: center;
    }

    .books-row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .books-col1 {
            width: 22%;
            margin: 0 4% 0 0;

            &:last-child {
                margin-right: 0;
            }

            .books-box {
                width: 100%;
                padding: 10px;
                background: #ecc02c;
                border-radius: 10px;
                margin: 0 0 20px;
                transition: all .25s ease-in-out;
            }

            &:hover {
                .books-box {
                    box-shadow: 0 10px 50px rgba(0, 0, 0, .12)
                }
            }

            p {
                font-size: 20px;
                font-weight: 600;
                line-height: 1.67;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                -webkit-box-orient: vertical;
                text-align: center;
                transition: all .25s ease-in-out;
            }

            &:hover {
                p {
                    color: #db4f14;
                }
            }
        }
    }

    .view-all-btn {
        display: block;
        width: fit-content;
        padding: 12px 42px;
        font-size: 18px;
        font-weight: 600;
        background: #e3741c;
        color: #fff;
        margin: 50px auto 0;
        border: 1px solid;
        border-radius: 0;
        transition: all .25s ease-in-out;

        &:hover {
            background: none;
            color: #e3741c;
            border-color: #e3741c;
        }
    }
}

.blog-wrapp {
    width: 100%;
    padding: 70px 0;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url(../images/bg_gradient_5.png) no-repeat center / contain;
        opacity: 0.1;
        z-index: -1;
    }

    h2 {
        font-size: 42px;
        font-weight: 700;
        line-height: 1.56;
        margin: 0 0 32px;
        color: #000;
        text-align: center;
    }

    .blog-row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .blog-col1 {
            width: 32%;
            margin: 0 2% 0 0;
            background: url(../images/gradient.png) no-repeat center / cover;
            padding: 10px;
            transition: all 0.5s cubic-bezier(0.37, -0.22, 1, 1);
            margin-bottom: 30px;

            &:hover {
                background: url(../images/gradient-1.png) no-repeat center / cover;

                .blog-col2 {
                    box-shadow: 0px 20px 20px 20px rgba(0, 0, 0, 0.12);
                }
            }

            &:nth-child(3n) {
                margin-right: 0;
            }

            .blog-col2 {
                width: 100%;
                padding: 20px;
                background: #ffff;
                height: 100%;
                transition: all 0.5s cubic-bezier(0.37, -0.22, 1, 1);
                position: relative;

                .blog-img {
                    width: 100%;
                    margin: 0 0 18px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        display: block;
                    }

                }

                .blog-content {
                    width: 100%;

                    h3 {
                        font-size: 18px;
                        font-weight: 700;
                        color: #000;
                        margin: 0 0 15px;
                        min-height: 30px;
                    }

                    p {
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 1.67;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        line-clamp: 2;
                        -webkit-box-orient: vertical;
                        transition: all 0.25s ease-in-out;
                        margin: 0 0 22px;
                    }

                    .read-more-btn {
                        display: block;
                        width: -moz-fit-content;
                        width: fit-content;
                        padding: 10px 28px;
                        font-size: 16px;
                        font-weight: 600;
                        background: #e3741c;
                        color: #fff;
                        border: 1px solid;
                        border-radius: 0;
                        transition: all 0.25s ease-in-out;

                        &:hover {
                            background: none;
                            color: #e3741c;
                            border-color: #e3741c;
                        }
                    }
                }
            }
        }
    }

    .view-all-btn {
        display: block;
        width: fit-content;
        padding: 12px 42px;
        font-size: 18px;
        font-weight: 600;
        background: #e3741c;
        color: #fff;
        margin: 50px auto 0;
        border: 1px solid;
        border-radius: 0;
        transition: all 0.25s ease-in-out;

        &:hover {
            background: none;
            color: #e3741c;
            border-color: #e3741c;
        }
    }
}


.check-out-wrapp {
    width: 100%;
    padding: 115px 0;
    position: relative;
    text-align: center;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(to right, #ecc02c 0%, #e3741c 50%, #db4c14 100%);
        opacity: 0.2;
        z-index: -1;
    }

    .bg-img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    h2 {
        font-size: 48px;
        font-weight: 700;
        line-height: 1.56;
        margin: 0 0 22px;
        color: #fff;
        text-align: center;

        span {
            display: block;
        }

        strong {
            background: linear-gradient(to right, #ecc02c 0%, #e3741c 50%, #db4c14 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 900;
        }

    }

    .get-start-btn {
        display: block;
        width: -moz-fit-content;
        width: fit-content;
        padding: 12px 42px;
        font-size: 18px;
        font-weight: 600;
        background: #e3741c;
        color: #fff;
        margin: 50px auto 0;
        border: 1px solid;
        border-radius: 0;
        transition: all 0.25s ease-in-out;
        border-color: #e3741c;

        &:hover {
            color: #e3741c;
            background: linear-gradient(to right, #ffffff 0%, #ffffff 50%, #ffffff 100%);
        }
    }
}

.video-play-button {
    display: block;
    width: 85px;
    height: 85px;
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50%;
    transition: all 0.25s ease-out 0s;
    cursor: pointer;
    margin: 0 auto 50px;
    position: relative;

    span {
        width: 0;
        height: 0;
        border-left: 30px solid #dd5616;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        margin: 23px 31px;
        transition: all 0.25s ease-out 0s;
        display: block;
        position: relative;
        z-index: 3;
    }

    &::after,
    &::before {
        content: "";
        transition: all 0.25s ease-out 0s;
        position: absolute;
        z-index: 0;
        left: 50%;
        top: 50%;
        z-index: -1;
    }

    &::before {
        width: 95px;
        height: 95px;
        background: rgb(232 159 37 / 60%);
        border-radius: 50%;
        display: block;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        -webkit-animation: pulse-border 1500ms ease-out infinite;
        animation: pulse-border 1500ms ease-out infinite;
    }

    &::after {
        width: 105px;
        height: 105px;
        background: rgb(222 88 23 / 60%);
        border-radius: 50%;
        display: block;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        -webkit-animation: pulse-border 1500ms ease-out infinite;
        animation: pulse-border 1500ms ease-out infinite;
    }
}



.man-behind {
    padding: 110px 0px 80px;
    position: relative;

    #triangle-bottomleft {
        width: 0;
        height: 0;
        border-bottom: 400px solid #e3741c;
        border-right: 500px solid transparent;
        position: relative;

        img {
            width: 400px;
            height: 400px;
            position: absolute;
            top: -50px;
            left: 0;
        }
    }

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: auto;
        top: 0;
        right: 0;
        background: url(../images/bg_img_2.png) no-repeat top left;
        opacity: 0.1;
        z-index: -1;
    }

    .man-behind-div {
        display: flex;
        align-items: end;
        justify-content: space-between;
        width: 100%;

        .man-behind-img {
            width: 47%;
        }

        .man-behind-cont {
            width: 47%;

            h3 {
                font-size: 50px;
                font-weight: 700;
                line-height: 1.3;
                margin: 0 0 20px;
                color: #000;
            }

            p {
                font-size: 16px;
                line-height: 1.88;
                color: #000000;
            }
        }
    }
}




.footer-sec {
    background-color: rgba(0, 0, 0, 0.885);
    padding: 80px 0px;

    .footer-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .footer-des {
        width: 30%;

        h3 {
            background: linear-gradient(to right, #ecc02c 0%, #e3741c 50%, #db4c14 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 700;
            font-size: 28px;
            margin-bottom: 20px;
        }

        p {
            color: #fff;
        }

        
    }

    .footer-menu {
        width: 40%;
        display: flex;
        padding-left: 50px;

        ul {
            margin-right: 80px;

            li {
                margin-bottom: 10px;

                a {
                    color: #fff;
                    font-weight: 500;
                    font-size: 18px;

                    &:hover {
                        background: linear-gradient(to right, #ecc02c 0%, #e3741c 50%, #db4c14 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }
        }
    }

    .mail-subscription {
        width: 28%;

        h3 {
            background: linear-gradient(to right, #ecc02c 0%, #e3741c 50%, #db4c14 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 700;
            font-size: 28px;
            margin-bottom: 20px;
        }

        p {
            color: #fff;
        }

        .subscription {
            margin-top: 30px;

            input {
                background-color: transparent;
                padding: 5px 10px;
                height: 50px;
                color: #fff;

                &:focus {
                    box-shadow: none;
                }
            }

            .subscription-btn {
                display: block;
                width: -moz-fit-content;
                width: fit-content;
                padding: 10px 20px;
                font-size: 16px;
                font-weight: 600;
                background: linear-gradient(to right, #ecc02c 0%, #e3741c 50%, #db4c14 100%);
                color: #fff;
                border: 1px solid;
                border-radius: 0;
                transition: all 0.25s ease-in-out;

                &:hover {
                    background: none;
                    color: #e3741c;
                    border-color: #e3741c;
                }
            }
        }
    }

}
.social-media-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    max-width: 280px;

    a {
        justify-content: space-between;
        display: flex;
        position: relative;
        background: linear-gradient(to right, #ecc02c 0%, #e3741c 50%, #db4c14 100%);
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        &:hover {
            background: linear-gradient(to left, #ecc02c 0%, #e3741c 50%, #db4c14 100%);
        }
    }
    img {
        width: 27px;
        height: 27px;
        z-index: 5;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}




@keyframes pulse-border {
    0% {
        -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}











///contact-page///




.contact-page {
    .contact-banner {
        position: relative;
        margin-top: -120px;

        img {
            height: 450px;
            width: 100%;
            object-fit: cover;
            object-position: 10% 10%;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            background-color: rgba(0, 0, 0, 0.785);
            left: 0;
            width: 100%;
            height: 100%;
        }

        .contact-cont {
            position: absolute;
            top: 42%;
            z-index: 50;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;

            p {
                text-align: center;
                color: #fff;
                font-size: 22px;
            }
        }
    }

    .contact-page-content {
        padding: 70px 0px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .contact-page-left {
            width: 48%;
            .contact-left-cont{
                h4 {
                    background: linear-gradient(to right, #ecc02c 0%, #e3741c 50%, #db4c14 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-weight: 600;
                    font-size: 18px;
                    margin-bottom: 15px;
                }
                h2{
                    font-size: 30px;
                    font-weight: 700;
                    margin-bottom: 20px;
                }
            }
        }
        .contact-page-right{
            width: 48%;
            .contact-page-right-content{
                color: #fff;
                padding: 40px;
                background: linear-gradient(to left, #ecc02c 0%, #e3741c 50%, #db4c14 120%);
                h2{
                    font-size: 30px;
                    font-weight: 700;
                    margin-bottom: 20px;
                }
                p{
                    padding-bottom: 20px;
                    border-bottom: 1px solid #fff;
                }
            }
        }
    }
}




///books page////


.books-page{
    .book-page-banner {
        position: relative;
        margin-top: -120px;

        img {
            height: 450px;
            width: 100%;
            object-fit: cover;
            object-position: 0%;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            background-color: rgba(0, 0, 0, 0.785);
            left: 0;
            width: 100%;
            height: 100%;
        }

        .book-banner-cont {
            position: absolute;
            top: 42%;
            z-index: 50;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;

            p {
                text-align: center;
                color: #fff;
                font-size: 22px;
            }
        }
    }
    .books-section{
        padding: 80px 0px;
        .book-row{
            .book-col{
                display: flex;
                align-items: center;
                margin-bottom: 80px;
                .book-img{
                    width: 200px;
                    height: 300px;
                    object-fit: cover;
                    border: 10px solid #ecc02c;
                    img{
                       width: 100%;
                       height: 100%;
                    }
                }
                .book-content{
                    padding-left: 50px;
                    max-width: 1000px;
                    text-align: left;
                    h3{
                        font-size: 40px;
                        font-weight: 700;
                        margin-bottom: 20px;
                        padding-bottom: 10px;
                        border-bottom: 1px solid #db4c14;
                    }
                    h5{
                        font-size: 22px;
                        margin-bottom: 30px;
                    }
                    .buy-now-btn {
                        display: block;
                        width: fit-content;
                        padding: 8px 42px;
                        font-size: 18px;
                        font-weight: 600;
                        background: #e3741c;
                        color: #fff;
                        margin: 30px auto 0;
                        border: 1px solid;
                        border-radius: 0;
                        transition: all .25s ease-in-out;
                        margin-left: 0;
                        &:hover {
                            background: none;
                            color: #e3741c;
                            border-color: #e3741c;
                        }
                    }
                }
            }
        }
    }
}